// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

body {
    line-height: 1.5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.has-borders {
    border: 1px solid #000000;
}

.section-table {
    border: 1px solid #33b45c;
}

table tbody tr.detail {
    background-color: #0a0a0a !important;
}
.b-table {
    border-bottom: 1px solid #000000;
}
.b-table .table-wrapper.has-sticky-header tr:first-child th {
    color: #ffffff;
    background: black;
}
.b-table .table th.is-current-sort {
    border-bottom: 2px solid red;
}
.table-footer {
    width: 100%;
    height: 30px;
    background-color: black;
}
a.table-link-front {
    color: #324040;
}
.detail-container {
    background-color: #0a0a0a;
}

.has-text-orange {
    color: #FF9800;
}

#span-stars {
    color: #F9A825;
}
